# ========================
# Python
# ========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.env/
.env.*
.env

# ========================
# IDEs / Editors
# ========================
.vscode/
.idea/
*.swp
*.swo

# ========================
# OS
# ========================
.DS_Store
Thumbs.db

# ========================
# Logs
# ========================
*.log

# ========================
# Build / cache
# ========================
.build/
dist/
*.egg-info/

# ========================
# Google Cloud
# ========================
*.json
credentials/

./test/*